body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: helvetica;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-image: url("images/background.png");
}

header {
    width: 100vw;
    display: flex;
    margin-top: -2%;
    background-color: white;
    position: fixed;
    padding-left: 7vw;
    padding-right: 5vw;
    border-style: solid;
    border-color: black;
    border-bottom-width: .5vh;
    padding-bottom: 0;
    align-items: flex-end;
}

#navbar * {
    margin-bottom: 0;
    padding-bottom: 0;
}

nav ol {
    width: 73vw;
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
    list-style: none;
    font-size: 120%;
}

h1 {
    width: 15vw;
    padding-left: 1vw;
    text-align: center;
    font-size: 200%;
    line-height: 80%;
}

nav li {
    margin-bottom: 0;
}

section {
    text-align: center;
    width: 75vh;
    height: fit-content;
    padding-bottom: 5vh;
    padding-top: 2vh;
    background-color: white;
    margin-top: 10vh;
    margin-bottom: 15vh;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    width: 75%;
    text-align: center;
}

#about h2 {
    margin-bottom: 1%;
}

#about h3 {
    margin-bottom: 0;
}

#about small a{
    text-decoration: none;
    text-decoration: underline;
    color: inherit;
}

#about small a:hover {
    color: plum;
}

h2 {
    font-size: 200%;
    margin-bottom: 1%;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ol li {
    text-align: justify;
}

li {
    text-align: center;
}

#instruct * {
    margin-bottom: 0;
}

#py li, #phaser li {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration: underline;
}

a:hover {
    color: plum;
}

#navbar a:hover {
    color: plum;
}

img {
    width: 10rem;
    height: auto;
    background-color: bisque;
    border-style:solid;
    border-width: 100%;
    border-color: black;
    border-radius: 15%;
}

#navbar img {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    top: 45%;
    right: 9vw;
}

#py h3, #phaser h3 {
    margin-bottom: 0;
}
